.content {
    @media (max-width: 764px) {
        margin-top: 80px;
    }

    &__banner {
        @media (max-width: 764px) {
            height: 400px;
        }

        width: 100%;
        max-width: 100vw;
        height: 500px;
        margin: auto;
        position: relative;
        overflow: hidden;

        &--list {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            display: flex;
            width: max-content;
            transition: 1s;
            z-index: -1;

            .list-item {

                img {
                    width: 1263.33px;
                    max-width: 100vw;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        &--text {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            color: #fff;

            h2 {
                font-family: Montserrat-Regular;
                font-size: 18px;
                color: white;
                line-height: 1.5;
                letter-spacing: 2px;
            }

            h1 {
                font-family: Poppins-Bold;
                font-size: 60px;
                color: white;
                line-height: 1.2;
                letter-spacing: 3px;
                text-transform: uppercase;
                margin-bottom: 37px;
                margin-top: 0;

                @media (max-width: 764px) {
                    font-size: 40px;
                }
            }


            button {

                font-family: Montserrat-Regular;
                font-size: 15px;
                color: #111111;
                text-transform: uppercase;
                border: none;
                border-radius: 23px;
                padding: 14px 35px;
            }
        }

        &--button {
            @media (max-width: 764px) {
                left: 3%;
            }

            position: absolute;
            top: 45%;
            left: 5%;
            width: 90%;
            display: flex;
            justify-content: space-between;

            button {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color: rgba(0, 0, 0, 0.3);
                border: none;
                color: #fff;
                font-weight: bold;
            }
        }

        &--dots {
            position: absolute;
            bottom: 10px;
            color: #fff;
            left: 0;
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;

            li {
                list-style: none;
                width: 10px;
                height: 10px;
                background-color: rgba(255, 255, 255, 0.5);
                margin: 20px 10px;
                border-radius: 20px;
                transition: 1s;
            }

            li.active {
                width: 30px;
            }
        }
    }

    &__categories {
        padding-top: 40px;

        &--list {
            @media (max-width: 764px) {
                grid-template-columns: 1fr;
                grid-template-rows: repeat(6, 400px);
            }

            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 340px 150px 340px;
            gap: 30px;

            @media (min-width: 764px) {
                .list-item:nth-child(1) {
                    grid-area: 1/1/3/2;
                }

                .list-item:nth-child(2) {
                    grid-area: 1/2/2/3;
                }

                .list-item:nth-child(3) {
                    grid-area: 1/3/3/4;
                }

                .list-item:nth-child(4) {
                    grid-area: 3/1/4/2;
                }

                .list-item:nth-child(5) {
                    grid-area: 2/2/4/3;
                }

                .list-item:nth-child(6) {
                    @media (max-width: 764px) {
                        background: #f2f2f2 !important;
                    }

                    background-color: #f2f2f2;
                    grid-area: 3/3/4/4;
                }
            }


            .list-item {
                @media (max-width: 764px) {
                    background: #f2f2f2 !important;
                }

                position: relative;
                overflow: hidden;

                &:hover img {
                    transform: translate(-50%, -50%) scale(1.1);
                }

                img {
                    position: absolute;
                    max-width: 100%;
                    min-width: 100%;
                    min-height: 100%;
                    object-fit: cover;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    transition: all .6s;

                }

                button {
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: 20px;
                    background-color: rgba(255, 255, 255, 0.9);
                    border: none;
                    font-family: Montserrat-Regular;
                    font-size: 16px;
                    color: #333333;
                    text-transform: uppercase;
                    height: 46px;
                    width: 179px;
                    transition: all .4s;
                    cursor: pointer;

                    &:hover {
                        background-color: #e65540;
                        color: #fff;
                    }
                }

                &-content {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    justify-content: center;
                    height: 340px;

                    h1 {
                        margin: 0;
                        max-width: 294px;
                        text-align: center;
                        font-family: Montserrat-Medium;
                        font-size: 30px;
                        color: #111111;
                        line-height: 1.2;
                        text-transform: uppercase;
                        font-weight: 500;
                    }

                    span {
                        padding-top: 10px;
                        font-family: Montserrat-Regular;
                        font-size: 15px;
                        line-height: 1.7;
                        color: #888888;
                        margin: 0px;
                        max-width: 257px;
                        text-align: center;
                    }

                    button {
                        position: relative;
                        transform: translate(0);
                        left: 0;
                        bottom: 0;
                        margin-top: 30px;
                        background-color: black;
                        color: #fff;
                        border-radius: 23px;
                    }
                }
            }
        }
    }

    @mixin title {
        padding-top: 90px;
        padding-bottom: 50px;
        font-family: Montserrat-Bold;
        font-size: 30px;
        color: #222222;
        line-height: 1.2;
        text-transform: uppercase;
        text-align: center;
    }

    @mixin titleMoblie {
        padding-top: 50px;
        padding-bottom: 30px;
        font-family: Montserrat-Bold;
        font-size: 30px;
        color: #222222;
        line-height: 1.2;
        text-transform: uppercase;
        text-align: center;
    }

    &__featured {


        h1 {
            @media (max-width: 764px) {
                @include titleMoblie;
            }

            @include title;
        }

        &--list {
            .list-item {
                &:hover {
                    .product-info {
                        opacity: 1;
                        bottom: 60px;
                    }
                }

                .product-info {
                    width: 100%;
                    position: absolute;
                    text-align: center;
                    z-index: 100;
                    bottom: 0px;
                    opacity: 0;
                    transition: all .4s;

                    a {
                        font-family: Montserrat-Regular;
                        font-size: 20px;
                        color: #fff;
                        line-height: 1.5;
                        text-decoration: none;
                    }

                    p {
                        margin-top: 10px;
                        font-family: Montserrat-Regular;
                        font-size: 16px;
                        color: #fff;
                        text-transform: uppercase;
                    }
                }

                &:hover::after {
                    background-color: rgba(0, 0, 0, 0.5);
                }

                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    transition: all .4s;
                }

                position: relative;
                overflow: hidden;
                height: 360px;


                &:hover button {
                    bottom: 20px;
                    z-index: 100;
                }

                &:hover {
                    .status {
                        i {
                            opacity: 1;
                            transform: scale(1.4);
                        }
                    }
                }

                img {
                    position: absolute;
                    object-fit: cover;
                    width: 100%;
                    height: 100%;


                }

                .status {
                    a {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-family: Montserrat-Regular;
                        font-size: 12px;
                        color: white;
                        text-decoration: none;
                        width: 50px;
                        height: 22px;
                        border-radius: 11px;
                        background-color: #66a8a6;
                    }

                    i {
                        color: #fff;
                        cursor: pointer;
                        transition: all .4s;
                        opacity: 0;
                        transform: scale(0.5);

                    }

                    position: absolute;
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    padding: 15px;
                    box-sizing: border-box;
                    z-index: 100;
                }

                button {
                    cursor: pointer;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: -50px;
                    border-radius: 23px;
                    background-color: #111111;
                    font-family: Montserrat-Regular;
                    font-size: 15px;
                    color: white;
                    text-transform: uppercase;
                    width: 60%;
                    height: 40px;
                    border: none;
                    transition: all .4s;

                    &:hover {
                        background-color: #e65540;
                    }
                }

            }
        }

    }

    .content__adver {
        &--left:hover {
            img {
                transform: scale(1.2);
            }
        }

        &--right:hover {
            img {
                transform: scale(1.2);
            }
        }
    }

    &__adver {
        background-color: #f2f2f2;
        margin-top: 80px;

        .container {
            display: flex;

            @media (max-width: 764px) {
                flex-direction: column;
            }

            justify-content: space-between;
            padding-top: 60px;
            padding-bottom: 60px;

        }

        &--left {
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 425px;

            @media (max-width: 764px) {
                height: 350px;
            }

            img {
                position: absolute;
                object-fit: cover;
                max-width: 100%;
                max-height: 100%;
                min-height: 100%;
                transition: all .4s;

            }

            .content {
                position: absolute;
                color: #fff;
                text-align: center;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);

                span {
                    @media (max-width: 764px) {
                        font-size: 20px;
                    }

                    font-family: Montserrat-Bold;
                    font-size: 30px;
                    color: white;
                    line-height: 1.2;
                    letter-spacing: 2px;
                }

                h3 {
                    @media (max-width: 764px) {
                        font-size: 35px;
                    }

                    font-family: Montserrat-Bold;
                    font-size: 50px;
                    color: white;
                    line-height: 1.2;
                    text-transform: uppercase;
                    letter-spacing: 3px;
                    margin-top: 10px;
                    margin-bottom: 30px;

                }

                a {
                    text-decoration: none;
                    font-family: Montserrat-Regular;
                    font-size: 15px;
                    color: white;
                    text-transform: uppercase;
                    letter-spacing: 2px;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

        }

        &--right {
            @media (max-width: 764px) {
                margin-left: 0;
                margin-top: 30px;
                height: 350px;
            }

            margin-left: 30px;
            background-color: #fff;
            width: 100%;
            position: relative;
            overflow: hidden;
            height: 425px;


            img {
                position: absolute;
                object-fit: contain;
                top: -90px;
                max-width: 100%;
                max-height: 100%;
                min-height: 100%;
                transition: all .4s;
            }

            .content {
                position: absolute;
                text-align: center;
                left: 50%;
                top: 70%;
                transform: translate(-50%, -50%);

                a {
                    font-family: Montserrat-Regular;
                    font-size: 15px;
                    color: #555555;
                    line-height: 2.5;
                    text-decoration: none;
                }

                span#old {
                    font-family: Montserrat-Regular;
                    font-size: 16px;
                    color: #555555;
                    text-transform: uppercase;
                    text-decoration: line-through;
                }

                span {
                    font-family: Montserrat-Regular;
                    font-size: 16px;
                    color: #e65540;
                    text-transform: uppercase;
                }

                .time {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 45px;

                    .time-c {
                        margin: 0 5px;
                        width: 60px;
                        height: 60px;
                        display: flex;
                        border: 1px solid #dbdbdb;
                        border-radius: 2px;

                        .box {
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                        }


                        span:nth-child(1) {
                            font-family: Montserrat-Regular;
                            font-size: 18px;
                            color: #555555;

                        }

                        span:nth-child(2) {
                            font-family: Montserrat-Regular;
                            font-size: 15px;
                            color: #999999;
                            text-transform: lowercase;

                        }
                    }
                }
            }
        }
    }

    &__blog {
        h1 {
            @media (max-width: 764px) {
                @include titleMoblie;
            }

            @include title;
        }

        &--list {
            @media (max-width: 764px) {
                flex-direction: column;
            }

            display: flex;
            gap: 30px;

            .list-item {
                @media (max-width: 764px) {
                    max-width: 100%;
                }

                max-width: 33.333333%;
                overflow: hidden;
                position: relative;
                width: 100%;

                img {

                    height: 270px;
                    object-fit: cover;
                    width: 100%;
                }

                .content {
                    h4 {
                        font-family: inherit;
                        font-weight: 500;
                        line-height: 1.1;
                        color: inherit;

                        a {
                            font-family: Montserrat-Medium;
                            font-size: 16px;
                            color: #333333;
                            line-height: 1.5;
                            text-decoration: none;
                        }
                    }

                    span {
                        font-family: Montserrat-Regular;
                        font-size: 13px;
                        color: #555555;
                        line-height: 1.8;
                    }

                    p {
                        font-family: Montserrat-Regular;
                        font-size: 13px;
                        color: #888888;
                        line-height: 1.8;
                    }

                    span#title {
                        font-family: Montserrat-Regular;
                        font-size: 13px;
                        color: #999999;
                        line-height: 1.8;
                    }
                }

            }
        }
    }

    &__ins {
        h1 {
            @media (max-width: 764px) {
                @include titleMoblie;
            }

            @include title;
        }

        &--list {
            @media (max-width: 764px) {
                display: flex;
                flex-wrap: wrap;
            }

            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: 315.83px 315.83px;

            .list-item {


                &:hover {
                    .content {
                        top: 0;
                    }
                }

                position: relative;
                overflow: hidden;

                &::after {


                    position: absolute;
                    content: '';
                    inset: 0;
                    transition: .4s;

                }

                &:hover::after {
                    background-color: rgba(0, 0, 0, .8);
                }

                img {
                    @media (max-width: 764px) {
                        position: relative;
                    }

                    position: absolute;
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }

                .content {
                    transition: .4s;
                    position: absolute;
                    padding: 40px;
                    z-index: 1;
                    top: 100%;

                    .top {
                        i {
                            font-size: 17px;
                            margin-right: 5px;
                        }

                        span {
                            font-family: Montserrat-Regular;
                            font-size: 13px;
                            color: #adadad;
                            line-height: 1.8;
                        }
                    }

                    p {
                        font-family: Montserrat-Regular;
                        font-size: 13px;
                        color: #cccccc;
                        line-height: 1.8;
                    }

                    span {
                        font-family: Montserrat-Regular;
                        font-size: 13px;
                        color: #adadad;
                        line-height: 1.8;
                    }
                }
            }
        }
    }

    &__get {
        @media (max-width: 764px) {
            display: flex;
            flex-direction: column;
            padding: 20px 0;
            box-sizing: border-box;
        }

        padding: 62px 0 46px 0;
        display: flex;
        justify-content: space-around;
        text-align: center;

        .list-item:nth-child(2) {
            @media (max-width: 764px) {
                border-bottom: 1px solid #d9d9d9;
                border-top: 1px solid #d9d9d9;
                border-left: none;
                border-right: none;
            }

            border-left: 1px solid #d9d9d9;
            border-right: 1px solid #d9d9d9;
        }

        .list-item {
            @media (max-width: 764px) {
                width: 100%;
                padding: 20px;
                box-sizing: border-box;
            }

            padding: 16px 15px 15px 15px;
            box-sizing: border-box;
            width: 33.33333%;

            h4 {
                font-family: Montserrat-Regular;
                font-size: 18px;
                color: #555555;
                line-height: 1.5;
                font-weight: 500;
                margin: 0;
            }

            a {
                font-family: Montserrat-Italic;
                font-size: 13px;
                color: #888888;
                line-height: 1.8;
                text-decoration: none;
            }
        }
    }
}

.slick-initialized .slick-slide {
    margin: 0 15px;
}

.slick-prev {
    left: 20px !important;
    z-index: 1;
}

.slick-next {
    right: 20px !important;
}